@font-face {
    font-family: "Ubuntu-Regular";
    src: url(../fonts/Ubuntu-R.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu-Regular";
}

button,
button:active,
button:focus {
    outline: none;
    border: none;
}

body {
    background-color: #F1F1F1;
    margin-bottom: 200px;
    position: absolute;
    width: 100%;
}

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1200px;
    padding-right: 10px;
    padding-left:  10px;
}

.blue:hover {
    color: #5583ea;
    transition: .3s;
}

.green:hover {
    color: #3ed454;
    transition: .3s;
}

a {
    outline: none;
    text-decoration: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 68px 0 68px;
}

.logo {
    width: 221px;
}

.contacts {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 0.05em;
    color: #1F2225;
}

.btnMobileScreen {
    background: inherit;
}

.mobileScreen {
    transition: .3s;
}

.mobileScreen:hover {
    transform: scale(0.98);
}

.mobileScreen:active {
    transform: scale(0.9);
}

.messengersItem {
    cursor: pointer;
}

.telephone a {
    margin-right: 60px;
    color: black;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.telephone:hover a {
    background-size: 100% 2px;
}

.messengers {
    display: flex;
    color: #B3B3B3;
}

.messengers .leftSpace {
    margin-left: 30px;
}

.promoScreen {
    width: 100%;
    background-image: url("../img/promo-screen-background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 76px 0 0 0;
}

.blockMnu {
    margin-right: 377px;
}

.blockMnu .menu {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 244.19%;
    letter-spacing: 0.035em;
    color: #858687;
}

.application {
    display: flex;
    align-items: center;
    width: 344px;
    height: 75px;
    background: #235DE2;
    border-radius: 50px;
    border: none;
    padding: 13px 40px;
    margin-top: 65px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 186.19%;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    transition: .3s;
}

.application span {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.application:hover {
    transform: scale(0.98);
}

.application:active {
    transform: scale(0.9);
    background: #235DE2;
}

.hi {
    margin-left: 12px;
}

.promoScreenTxt {
    font-style: normal;
    font-size: 72px;
    line-height: 139%;
    color: #1F2225;
    text-align: start;
    width: 100%;
    height: 600px;
}

.beforeTxt {
    width: 100%;
    text-align: start;
}

.ti-cursor {
    margin-left: 15px;
}

.caseList {
    margin-top: 137px;
}

.caseListTxt {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 160.19%;
    color: #000000;
}

.hrefSpan {
    color: #235DE2;
    border-bottom: 2px solid #5583ea;
}

.portfolioList {
    margin-top: 74px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: minmax(375px, 860px);
    grid-auto-rows: minmax(260px, 596px);
    gap: 20px;
}

.picture {
    width: 100%;
    transition: 1s;
}

.picture:hover {
    transform: scale(1.05);
}

.projectCaseBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nameProject {
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 197.69%;
    letter-spacing: 0.035em;
    color: #000000;
    margin-top: 30px;
}

.descriptionProject {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 197.69%;
    letter-spacing: 0.035em;
    color: #383838;
    margin-top: 15px;
}

.caseDescription {
    background-color: #EAE9E9;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 197.69%;
    text-align: center;
    letter-spacing: 0.035em;
    color: #A8A8A8;
    padding: 4px 20px;
    margin-top: 10px;
    width: fit-content;
}

@media screen and (max-width: 1440px) {
    .contacts {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.05em;
        color: #1F2225;
    }

    .application {
        width: 269px;
        height: 64px;
    }

    .nameProject {
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 197.69%;
        letter-spacing: 0.035em;
        margin-top: 19px;
    }

    .blockMnu {
        margin-right: 114px;
    }

}

@media screen and (max-width: 882px) {

    .wrapper {
        width: 100%;
    }

    .header {
        margin: 30px 20px 70px 20px;
    }

    .mobileLogo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -999;
    }

    .promoScreenTxt {
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 139.19%;
        height: 600px;
    }

    .promoScreen {
        background-image: none;
        display: flex;
        flex-direction: column-reverse;
        align-items: inherit;
        padding: 0;
    }

    .mobileMnu {
        position: fixed;
        top: 0;
        left: -999px;
        right: 0;
        bottom: 0;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: #F1F1F1;
        color: #1F2225;
        transition: .5s;
    }

    .mobileHeader {
        display: flex;
        justify-content: space-between;
        margin: 30px 20px;
    }

    .contactUs {
        width: 227px;
        height: 36px;
        margin-top: 128px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #858687;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .phoneNumber {
        width: 303px;
        height: 37px;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 0.05em;
        color: #1F2225;
        margin-left: auto;
        margin-right: auto;
        margin-top: 33px;
    }

    .sendMessage {
        margin-top: 56px;
        width: 227px;
        height: 36px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #858687;
        margin-left: auto;
        margin-right: auto;
    }

    .messengers {
        width: 251px;
        height: 28px;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin-top: 27px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .telegram {
        color: #5583ea;
    }

    .whatsapp {
        color: #3ed454;
    }

    .logo img {
        width: 158px;
    }

    .promoScreenTxt {
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 139.19%;
        max-width: 372px;
        height: 220px;
    }

    .blockMnu {
        margin-right: inherit;
        margin-top: 27px;
    }

    .application {
        width: 266px;
        height: 62px;
    }

    .portfolioList {
        display: flex;
        flex-direction: column;
    }

    .portfolioBlock {
        margin-top: 38px;
    }

    .fullScreen {
        display: none;
    }

    .descriptionProject {
        margin-top: 10px;
        line-height: inherit;
    }

    .caseList {
        margin-top: 78px;
    }

    .caseListTxt {
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 160.19%;
    }

    .portfolioList {
        margin-top: 36px;
        margin-left: -10px;
        margin-right: -10px;
    }

    .projectCaseBlock {
        padding: 0 10px;
    }

    .picture:hover {
        transform: inherit;
    }

    .nameProject {
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 197.69%;
        letter-spacing: 0.035em;
        margin-top: 8px;
    }

    .menuItem {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 220.19%;
        letter-spacing: 0.035em;
    }

    .hide {
        left: -999px;
    }

    .show {
        left: 0;
    }
}

@media(min-width:882px) {
    .mobileScreen {
        display:none;
    }

    .mobileLogo {
        display: none;
    }

    .mobileMnu {
        display: none;
    }
}

.hide {
    left: -999px;
}

.show {
    left: 0;
}